#divmostraprova{
  position: fixed;
  height: 600px;
  width: 800px;
  background-color: black;
  margin-left: 400px;
  margin-top: 100px;
  overflow: auto;
  top: 0px;
  visibility: hidden;
  color: white;
  padding-left: 30px;
}
#mostraprovasbt{
  position: fixed;
  float: right;
}
