#prova{
  visibility: hidden;
  position: fixed;
  height: 600px;
  width: 800px;
  background-color: black;
  margin-left: 400px;
  margin-top: 100px;
  overflow: auto;

  padding-left: 25px;
      top: 0px;

}

#finalizaprova{
  float: right;
  margin-right: 25px;
  margin-bottom: 15px;
}
